body{
    background-color: #ffecef;
    font-family: 'Ubuntu Mono', monospace;
    color: #E95670;
}

#container-all{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-weight: bold;
}

.image-holder{
    max-height: 750px;
}

#cover{
    box-shadow: 12px 12px 7px rgba(229,200,206,0.6);
    max-height: 750px;
}

.inner{
    max-width: 950px; !important;
}

.form-row{
    display: flex;
    flex-direction: column;
}


.input{
    margin: 5px;
    font-family: 'Ubuntu Mono', monospace;
}

.input-info{
    margin: 10px;
}

.form-control{
    font-family: 'Ubuntu Mono', monospace;
}

#container-btn{
    display: flex;
}