@font-face {
    font-family: cssFont;
    src: url("../material/BugMaruUIGothic-01.ttf");
}

body{
    background: #00b8a9;
    font-family: cssFont;
}

/*Navbar*/
.container_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 90%;
}

.container_navbar_text{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar_text{
    width: auto;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

#navbar_icon img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

#logout {
    border: none;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    background: none;
    width: 8%;
}

.signinbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.rectangle1{
    width:592px;
    height:586px;
    margin-left: 164px;
    margin-top: 198px;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: start;

}


.rectangle1>h1{
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    line-height: 100%;
    line-height: 56px;
    align-items: center;
    color:#FFDE7D;
    margin:20px;
    /* stroke:black;
    width: 1px; */
}

.rectangle2>h1{
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    line-height: 100%;
    line-height: 56px;
    align-items: center;
    color:white;
    margin:20px;
    /* stroke:black;
    width: 1px; */
}

.rectangle2>h2{
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    line-height: 56px;
    align-items: center;
    color:white;
    margin:20px;
    /* stroke:black;
    width: 1px; */
}


#username_display{
    width:452px;
    height:50px;
    border-radius:50px;
    background: rgba(248, 243, 212, 0.5);
    margin:20px;
    border:none;
}


#password{
    width:452px;
    height:50px;
    border-radius:50px;
    background: rgba(248, 243, 212, 0.5);
    margin:20px;
    border:none;
}


#login{
    width:452px;
    height:50px;
    border-radius:50px;
    background-color: #FFDE7D;
    margin:20px;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    color:white;
    border: none;
}





.rectangle2{
    width:592px;
    height:586px;
    margin-top: 198px;
    background-color: #FFDE7D;

}

#newusername{
    width:452px;
    height:50px;
    border-radius:50px;
    background: rgba(248, 243, 212);
    margin:20px;
    border:none;
}


#newpassword{
    width:452px;
    height:50px;
    border-radius:50px;
    background: rgba(248, 243, 212);
    margin:20px;
    border:none;
}


#signup{
    text-align: center;
    width:452px;
    height:50px;
    border-radius:50px;
    background-color: #d9f4f2;
    margin:20px;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    color:white;
    border-color: #d9f4f2;
    border:none;
}





#signupalert{
    width:500px;
    height:200px;
    position:absolute;
    top:30%;
    left:40%;
}

#signupalertfont h1{
    font-size: 24px;
    font-weight: bold;
}

#closesignup{
    font-weight: bold;
    border:none;
    position:absolute;
    top:3%;
    left:95%;
}

.fast-login{
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
}
.fast-login button{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}