/*navbar*/
nav{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color: #E95670;
    font-weight: bold;
}

.navbar-item img {
    max-height: 80px;
    padding: 0;
}

body{
    font-family: 'Lobster', cursive;
    color: #E95670;
}

h2{
    font-family: 'Lobster', cursive;
    color: #E95670;
}

.container-info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Lobster', cursive;
    color: #E95670;
    align-items: center;
}

.container-input{
    margin-bottom: 20px;
}

#container_photo_knockout{
    width: 250px;
    height: 250px;
    border: solid black 2px;
}

.color_row1 button, 
.color_row2 button{
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    font-family: 'Lobster', cursive;
    color: #E95670;
}

img {
    height: 100%;
    width: 100%;
}

.color_row1 .active, 
.color_row2 .active {
    border: rgb(2, 17, 6) 5px solid;
}

#container_save{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster', cursive;
    color: #E95670;
}

#btn-save{
    font-family: 'Lobster', cursive;
    color: #E95670;
}

