/*navbar*/
nav{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color: #E95670;
    font-weight: bold;
}

.navbar-item img {
    max-height: 80px;
    padding: 0;
}

#container_all{
    font-family: 'Lobster', cursive;
    display: flex;
    flex-wrap: wrap;
}

#title{
    color: #db2828;
    font-family: 'Lobster', cursive;
    text-align-last: center;
    font-size: 50px;
}

.container_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#container_icon_username{
    text-align: -webkit-center;
}

#username_display{
    color: #E95670;
    font-weight: bold;
    margin-top: 20px;
}

#container_icon_toOtherPage{
    text-align: center;
    width: 35%;
}

#container_otherpage{
    margin-top: 5%;
    margin-bottom: 15%;
}

.btn-toOtherPage{
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

#container_change_username_password{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #E95670;
    width: 100%;

}

#info{
    font-size: 30px;
    width: 100%;
    height: 100px;
}

#container_change_icon{
    width: 100%;
    min-width: 100%;
    text-align: -webkit-center;
}

#change_icon{
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
    background: #fdf5f7;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

#btn-change_icon{
    font-family: 'Lobster', cursive;
    color: #E95670git;
}

.container_change{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Lobster', cursive;
    width: 100%;
    background: #fdf5f7;
    padding: 15px;
    border-radius: 5px;
}


#container_change_info{
    height: 100%;
    align-self: start;
    margin-top: 5%;
    font-family: 'Lobster', cursive;
    width: 35%;
}

.form-newIcon-file{
    padding: 10px;
    font-family: 'Ubuntu Mono', monospace;
}

.input-group,.change_text{
margin-top: 15px;
}

#container_save{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
}

#btn-save{
    font-family: 'Lobster', cursive;
    color: #E95670;
}