/*navbar*/
nav {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color: #E95670;
    font-weight: bold;
}

.navbar-item img {
    max-height: 80px;
    padding: 0;
}

#title {
    color: #db2828;
    font-family: 'Lobster', cursive;
    text-align-last: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.container-all {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-family: 'Lobster', cursive;
    color: #E95670;
}

.label,
.temperature {
    font-family: 'Lobster', cursive;
    color: #E95670;
    margin-bottom: 10px;
}

#container_weather {
    max-width: 30%;
    width: 30%;
    font-family: 'Lobster', cursive;
    color: #E95670;
}

#weather{
    font-size: 20px;
}

#weather-title {
    font-family: 'Lobster', cursive;
    color: #E95670;
}

#container_result {
    display: flex;
    height: 100%;
}

#submit_form {
    margin: 0 20px;
    display: grid;
}

#container_get_ootd {
    width: 100%;
    margin-right: 10px;
}

#container_ootd {
    display: flex;
}

.ootd_result {
    outline-color: #E95670;
    outline-style: auto;
    width: 350px;
    height: 450px;
    margin: 5px;
}

image {

}