/*navbar*/
nav {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color: #E95670;
    font-weight: bold;
}

.navbar-item img {
    max-height: 80px;
    padding: 0;
}

h1 {
    color: #E95670;
    font-family: 'Lobster', cursive;
}

#title {
    color: #db2828;
    font-family: 'Lobster', cursive;
    text-align-last: center;
    font-size: 50px;
    height: 100px;
    padding: 10px;
}

.container-upload-process {
    margin: 0 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

#icon-hand-right {
    font-size: 70px;
    margin-top: 200px;
}

.container-btn{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    font-family: 'Lobster', cursive;
}

.before_image_container,
.after_image_container {
    height: 450px;
    width: 450px;
    border: solid #E95670 2px;
}

.upload_image{
    object-fit: contain;
}

img {
    width: 100%;
    height: 100%
}

.hand{
    color: #db2828;
}