/*navbar*/
nav{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color: #E95670;
    font-weight: bold;
}

.navbar-item img {
    max-height: 80px;
    padding: 0;
}

/* head */
#title{
    font-size: 50px;
    text-align: center;
    margin: 15px 0 25px 0;
}


#container_type_filter {
    width: 200px;
    min-width: 200px;
}

#select_list{
    width: 100%;
}

#title{
    color: #db2828;
    font-family: 'Lobster', cursive;
}

#add_new{
    font-family: 'Lobster', cursive;
}

/*filer and result setting*/
.container_filer_and_result{
    display: flex;
    width: 100%;
    justify-content: center;
    min-width: 400px;
}

/* styleOptionButton */
#add_new{
    width: 100%;
    text-align: start;
    font-family: 'Lobster', cursive;
}

#btn-add_new,
#btn-addNewMatch{
    width: 100%;
    font-family: 'Lobster', cursive;
    margin-top: 2px;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.filter_btn {
    width: 100%;
    color: #E95670;
    background-color: #ffffff;
    border-color: #E95670;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none !important;
    font-size: medium;
    font-family: 'Lobster', cursive;
}

.styleOptionContainer{
    flex-wrap: nowrap;
    margin: 2px 0;
    text-align: -webkit-center;
}


.btn-outline-danger {
    box-shadow: none !important;
}

.styleOptionContainer button {
    font-size: small;
    width: 65px;
    height: 20px;
    color: #ffffff;
    background-color: #E95670;
    border-color: #E95670;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
}

/* filter result container content*/
.filter_sub_container{
    display: flex;
    place-content: center;
    margin-right: 7px;
}

.filter_sub_container_img {
    max-width: 150px;
    min-height: 200px;
    margin: 5px;
}

.clothes-photo{
    object-fit: contain;
}

.result{
    /*display: flex;*/
}

.selection_bar{
    font-family: 'Lobster', cursive !important;
}


/*other*/
button {
    display: block;
}

.style_container {
    word-wrap: break-word;
    width: 120px;
    display: contents;
}

#container_result{
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
}

.selection_bar{
    font-family: 'Lobster', cursive;
    width: 100%;
}


.clothes-photo{
    width: 396px;
}

.btn_emotion{
    width: 70px;
}

#emotion_btn_container button{
    padding: 0;
    margin-bottom: 2px;
    font-size: 8px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}

#emotion_btn_container{
    display: flex;
    flex-direction: column;
}

.canvas_clothes_container{
    display: flex;
}
.matching_canvas_container{
    width: 300px;
    height: 700px;
    border: solid black 3px;
    position: relative;
}


.top_cloth_canvas, 
.bottom_cloth_canvas, 
.full_cloth_canvas{
    position: absolute;
    width: 150px;
    height: 150px;
}
.top_cloth_canvas{
    top: 100px;
    left: 100px;
}
.bottom_cloth_canvas{
    top: 300px;
    left: 100px;
}